@font-face {
    font-family: SemplicitaProB;
    src: url("semplicitapro/SemplicitaPro-Bold.otf");
    font-style: bold;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro-BoldItalic.otf");
    font-style: bold;
    font-style: italic;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro.otf");
    font-style: normal;
    
}

*{
    font-family: 'SemplicitaPro', sans-serif;
    font-style: normal;
    list-style: none;
    padding: 0;
}

body{
    display: block;
    width: 99%;
    background-color: #3A4D80;
}

#navbar{
    position: sticky;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    color:white;
    background-color: #3A4D80; 
    transition: top 0.3s;
    height: 50px;
}

#navbar .right{
    margin-right: 25px;
}

#navbar li{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
    color: white;
}

#navbar a{
    color:white;
    text-decoration: none;
    margin-top: 5px;
    font-size: 20px;
}

#navbar .left li{
    float: left;
}

#navbar .right li{
    float: right;
    padding-right: 10px;
}

.landing{
    top: -1px;
    position: relative;
    height: 100vh;
    background-color: white;
}

.landing-side{
    position: absolute;
    margin-left: 7%;
    padding-top: 5%;
    width:25vw;
    z-index: 1;
}

.landing-side h1{
    font-family: 'SemplicitaProB';
    font-size: 1.75em;
}

.wave{
    width: 100%;
    height: 90%;
    position: absolute;
    bottom: 0px;
    z-index: 0;
}

.people{
    position: absolute;
    width: 50vw;
    right: 10vw;
    max-width: 800px;
    bottom: 15vh;
}

.logo{
    width: 30vw;
}

.login{
    background-color: #EF5084;
    width: 6em;
    border: none;
    height: 2.5em;
    border-radius: 10px;
    font-size:1em;
    font-family: 'SemplicitaPro';
    color: white;
    margin-right: 15px;
}

.landing-side a{
    color: #00A1D0;
    text-decoration: none;
}

.postspage{
    background-color: #617199;
    overflow: auto;
}   

.posts{
    background-color: #617199;
}

.postbox{
    position: relative;
    float: left;
    margin-left: 23px;
    margin-bottom: 20px;
    background-image: url("assets/Asset 1Blue.png");
    width: 30vw;
    height: 30vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
}

.postbox .postext{
    margin-left: 20px;
    padding-top: 10px;
}

.postbox .username{
    position: absolute;
    bottom: 2px;
}

.postbox .posthead{
    font-size:2em;
    font-family: 'SemplicitaProB';
    line-height: 15px;
}

.postbox .text{
    font-size:1.25em;
}


.sticky {
    position: fixed !important;
    top:0 !important;
    bottom:auto;
    background-color: #3A4D80;
    z-index: 1;
}

#smiley {
    padding-bottom: 10px;
    padding-right: 5px;
}

.loginscreen{
    position: absolute;
    background-color: white;
    width: 35vw;
    left:10vw;
    top:14vh;
    padding-bottom: 30px;
    border-radius: 40px;
    box-shadow: 4px 4px 20px 10px rgba(0, 0, 0, 0.25);
}

.loginimage{
    position: absolute;
    width: 50vw;
    max-width: 800px;
    bottom: 10vh;
    right: 0;

}

.logintext{
    margin-left: 30px;
}

.loginbody{
    background-color: #617199;
}


