@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro-Bold.otf");
    font-style: bold;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro-BoldItalic.otf");
    font-style: bold;
    font-style: italic;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: SemplicitaPro;
    src: url("semplicitapro/SemplicitaPro.otf");
    font-style: normal;
    
}

*{
    font-family: 'SemplicitaPro', sans-serif;
    font-style: normal;
    list-style: none;
    padding: 0;
}

body{
    display: block;
    width: 99%;
}

#navbar{
    background-color: white;
    position: fixed;
    top:0px;
    width: 100%;
    transition: top 0.3s;
}

#navbar li{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    padding-left: 15px;
}

.landing{
    top: -1px;
    position: relative;
    height: 100vh;
    background-color: #00A1D0;
}